:root {
    --bg-color: #2B3D41Bf;
    --focused-color: #4C5F6BBF;
    --text-color: #E0E2DBFF;
    --highlight-color: #A37774FF;
}

label {
    color: var(--text-color);
}

#color-config {
    background-color: var(--bg-color);
    padding: 1vh;
    border: var(--bg-color) 1vw solid;
    border-radius: 1vw;
    display: grid;
    grid-template-areas:
        'bg-label bg-input'
        'focused-label focused-input'
        'highlight-label highlight-input'
        'text-label text-input';
    gap: 25px;
    background-color: var(--bg-color);
}

#bg-label { grid-area: bg-label;}
#bg-input { grid-area: bg-input;}
#focused-label { grid-area: focused-label;}
#focused-input { grid-area: focused-input;}
#highlight-label { grid-area: highlight-label;}
#highlight-input { grid-area: highlight-input;}
#text-label { grid-area: text-label;}
#text-input { grid-area: text-input;}