:root {
    --bg-color: #2B3D41Bf;
    --focused-color: #4C5F6BBF;
    --text-color: #E0E2DBFF;
    --highlight-color: #A37774FF;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

#container {
    background-color: var(--bg-color);
    min-width: 50vw;
    min-height: 22vh;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    border-radius: 1vh;
    backdrop-filter: blur(5px);
}

#not-bookmarks {
    position: absolute;
    top: 50%;
    left: 31.25%;
    transform: translate(-50%, -50%);
    width: 25vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

#clock-container>label {
    color: var(--text-color);
    font-size: 2vw;
    text-align: center;
}

#clock-container {
    text-align: center;
    width: fit-content;
    height: fit-content;
}

#searchbox {
    position: absolute;
    top: 35vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color);
    border: 0;
    height: 2vh;
    width: 30vw;
    border-radius: 1vh;
    text-align: center;
    color: var(--text-color);
    font-size: 1.75vh;
    transition: 500ms;
    backdrop-filter: blur(5px);
    padding: 0.5vh;
}

#searchbox:focus {
    outline: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    background-color: var(--focused-color);
}

#bookmarks {
    position: relative;
    left: 50%;
    top: 0.5vh;
}

#left-bookmarks {
    position: absolute;
    left: 10%;
    transform: translateX(-50%);
}

#right-bookmarks {
    position: absolute;
    left: 35%;
    transform: translateX(-50%);
}

#bookmarks>*>a>ion-icon {
    font-size: 4vh;
    color: var(--text-color);
    margin: 0.5vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    transition: 500ms;
}

#bookmarks>*>a {
    text-decoration: none;
}

#bookmarks>*>a>ion-icon:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.75));
    transform: scale(1.5);
    color: var(--highlight-color);
}

#netflix-logo {
    height: 4vh;
    margin: 0.5vh;
    filter: invert(95%) sepia(1%) saturate(776%) hue-rotate(35deg) brightness(97%) contrast(91%) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    transition: 500ms;
}

#netflix-logo:hover {
    filter: invert(50%) sepia(18%) saturate(667%) hue-rotate(315deg) brightness(98%) contrast(79%) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.75));
    transform: scale(1.5);
}

#searchbutton {
    position: absolute;
    height: 2vh;
    width: 2vw;
    top: 35.25vh;
    left: 64vw;
    transform: translate(-50%, -50%);
}

#searchbutton>ion-icon {
    color: var(--text-color);
    font-size: 1.5vh;
    transition: 100ms;
}

#searchbutton>ion-icon:hover {
    color: var(--highlight-color);
}

#seperator {
    position: absolute;
    top: 35vh;
    left: 62vw;
    font-size: 3.2vh;
    color: var(--text-color);
    transform: translate(-50%, -60%);
}

#settings {
    position: absolute;
    color: var(--text-color);
    font-size: 2vh;
    background-color: var(--bg-color);
    border: var(--bg-color) 1vh solid;
    border-radius: 0.75vh;
    top: 95vh;
    left: 95vw;
    transition: 500ms;
}

#settings:hover {
    transform: scale(2) translate(-25%, -25%);
    color: var(--highlight-color);
}
